body {
  background-color: #fafafa;
}

.editors-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}

.component-container {
  width: 48%;
  margin: 0 1%;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.component-container > div {
  flex: 1;
}

/* code diff styling */
.added {
  color: green;
  font-weight: bold;
}

.removed {
  color: red;
  text-decoration: line-through;
}
